html {
  font-family: 'Work Sans', sans-serif;
  margin:0;
}

.input-container-all {
  display: flex;
  position: fixed;
  height: 200px;
  min-width: 500px;
  width: 100%;
  z-index: 10;
}

.counter-container {
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-container:hover {
  border: 2px solid aqua;
}

#clear-all-read {
  right: 25px;
  position: fixed;
  top: 165px;
  z-index: 15;
}

.input-container {
  background-color: white;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  display:flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.input-container:hover {
  border-bottom: 2px solid aqua;
}

.input-container h1 {
  color: black;
  size: 40px;
}
.input-fields {
  color: black;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button-container-inputs {
  background-color: green;
  height: 50px;
  width: 150px;
}

.link-container {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left | space-around;
  height: 100%;
  width: 100%;
}

.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 200px;

}

.mod-link{
  background-color: dimgrey;
  border: 2px solid aqua;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  margin: 20px;
  width: 200px;
}
.button-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.mod-link:hover {
  background: grey;
}

.mod-link a {
  color: white;
  font-size: 1em;
  margin: auto;
}

.mod-link a:hover {
  color: aqua;
  display: flex;
  transition-property: color;
  transition-duration: .3s;
}

.read {
  background: grey;
  opacity: .6;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.mod-link.button-container a {
  color: white;
  font-size: 3em;
}

@media (max-width: 575px) {
  .input-container-all {
    display: block;
    z-index: 10;
  }
  .counter-container {
    min-height: 50px;
  }
}
