html {
  margin:0;
  font-family:
}

header {
  height: 414px;
  width: 736px;
  margin: auto;
}
.mod-link {
  background: magenta;
}

.link-list {
  background: green;
}

.url-value {
  width:100px;
  height:100px;
  background:yellow;
}
